.remove-product-confirmation-card {
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  .remove-confirmation-title {
    font-size: x-large;
  }

  .remove-confirmation-buttons {
    width: 100%;
    display: flex;
    justify-content: center;

    .remove-confirmation-button {
      background-color: #f4e04d;
      border: none;
      border-radius: 5px;
      color: black;
      padding: 15px 5px;
      text-align: center;
      display: inline-block;
      font-size: 16px;
      transition-duration: 0.4s;
      margin: 10px 40px;
    }

    .remove-confirmation-button:hover {
      background-color: #e5c902;
    }
  }
}