.side-bar {
  width: 20%;
  background-color: #fafba4;
  border-right: 2px solid #f4e04d;

  .bar-title {
    font-size: x-large;
    font-weight: 400;
    padding: 5px 10px;
  }

  .links-container {
    margin: 10px;

    .languages {
      display: flex;
      margin: 0 14px;
      .language {
        margin-right: 5px;
        img {
          height: 35px;
          width: 40px;
        }
      }
    }
    .link {
      margin: 5px;

      .link-search {
        font-weight: 400;
        color: #000000;
        margin: 10px;

      }
    }
  }
}