.side-bar {
  height: 100%;
  width: 20%;
  border-right: 2px solid #f4e04d;

  .bar-title {
    font-size: x-large;
    font-weight: 400;
    padding: 5px 10px;
  }

  .links-container {
    margin: 10px;

    .link {
      margin: 5px;

      .link-search {
        font-weight: 400;
        color: #000000;
        text-decoration-line: underline;
        margin: 10px;

      }
    }
  }
}