@import "../../../../node_modules/bulma/bulma";

.modal {
  width: 100%;
  height: 100%;
  display: flex;

  .campo-a-rellenar {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    input {
      width: fit-content;
      height: 30px;
      border-radius: 5px;
      margin-top: 10px;
      font-size: initial;
    }

    .horarios {
      margin-top: 10px;
      .seleccion-horario {
        margin-bottom: 15px;
      }
      .botonera-horarios {
        margin: 5px 0;

        a {
          margin-left: 5px;
          color: #af9b00;
        }
      }
      input {
        height: 30px;
        margin: 0 5px;
      }
    }

    .rubro-checbox {
      display: flex;
      align-items: center;

      label {
        font-size: smaller;
      }

      input {
        margin: 0 3px;
      }
    }
  }

  .boton-modal {
    background-color: #f4e04d;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 15px 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }

  .boton-modal:hover {
    background-color: #e5c902;
  }

  .modal-card-foot {
    display: flex;
    justify-content: space-between;
  }

  .modal-card-body {
    display: flex;
    .seccion-de-campos {
      width: 50%;
      .user-error {
        color: #ff0020;
        font-weight: 600;

        svg{
          margin-right: 10px;
        }
      }
    }
  }
}