.homepage {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fafba4;

  .side-bar {
    height: 100%;
    width: 20%;
    border-right: 2px solid #f4e04d;

    .bar-title {
      font-size: x-large;
      font-weight: 400;
      padding: 5px 10px;
    }

    .links-container {
      margin: 10px;

      .link {
        margin: 5px;

        .link-search {
          font-weight: 400;
          color: #000000;
          text-decoration-line: underline;
          margin: 10px;

        }
      }
    }
  }

  .entities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    height: 100%;
    align-items: center;
    padding: 10px;

    .entity-card {
      height: 300px;
      background-color: white;
      border-radius: 10px;
      margin: 5px 10px;
      overflow: hidden;

      &.category-card {
        height: 240px;
      }

      .imagen-comercio {
        height: 200px;
        img {
          width: 100%;
          height: 200px;
        }
      }

      .nombre-comercio {
        display: flex;
        align-items: center;
        font-size: large;
        font-weight: 800;
        padding: 8px;
        height: 14%;
      }

      .distancia-comercio {
        display: flex;
        align-items: baseline;
        height: 9%;
        padding: 0 8px;

        .distancia {
          color: #e5c902;
          font-size: small;
        }
        svg {
          height: 21px;
          width: 19px;
          color: #e5c902;
          margin: 0 5px 5px 0;
        }
      }

      .rubros-comercio {
        display: flex;
        align-items: center;
        height: 10%;
        padding: 0 8px;

        .rubros {
          color:  #ffa372;;
          font-size: small;
        }
        svg {
          height: 21px;
          width: 19px;
          color: #ffa372;
          margin: 0 5px 5px 0;
        }
      }
    }
  }
}