.homepage {
  width: 80%;
  display: flex;
  height: auto;
  background-color: #fafba4;
  min-height: -webkit-fill-available;

  .entities-panel {
    width: 100%;

    .nothing-to-show {
      width: 100%;
      height: 100%;
    }

    .no-products {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: x-large;
      color: #cbb408;

      svg {
        height: 100px;
        width: 100px;
      }
    }
    .entities {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      height: 100%;
      align-items: center;
      padding: 10px;

      &.products-entities {
        grid-template-columns: repeat(4, 1fr);
      }

      .entity-card {
        position: relative;
        height: 300px;
        background-color: white;
        border-radius: 10px;
        margin: 5px 10px;
        overflow: hidden;

        &.product-card {
          height: 265px;
          font-weight: 200;
        }

        &.category-card {
          height: 260px;
        }

        .product-name {
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          overflow: hidden;
          align-items: center;
          font-size: large;
          font-weight: 200;
          padding: 0px 8px 0px;
          height: 14%;

          span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }

        .product-footer {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          padding: 0px 8px;

          .product-brand {
            height: 10%;
            color: coral;
          }

          .product-price {
            color: #f08080;
            font-size: medium;
          }
        }

        .discount-name {
          display: flex;
          align-items: center;
          font-size: large;
          font-weight: bolder;
          padding: 8px;
          height: 14%;
        }
        .discount-store {
          font-weight: 400;
          margin: 5px 7px;
          padding: 8px;
        }

        .imagen-comercio {
          height: 200px;
          img {
            width: 100%;
            height: 200px;
          }
        }

        .nombre-comercio {
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          overflow: hidden;
          align-items: center;
          font-size: x-large;
          font-weight: 200;
          padding: 8px 8px;
          height: 14%;
        }

        .category-name {
          text-overflow: ellipsis;
          white-space: nowrap;
          display: block;
          overflow: hidden;
          align-items: center;
          font-size: x-large;
          font-weight: 200;
          padding: 4px 8px;
          height: 14%;
        }


        .distancia-comercio {
          display: flex;
          align-items: baseline;
          height: 9%;
          padding: 0 8px;

          .distancia {
            color: #e5c902;
            font-size: large;
            font-weight: 200;
          }
          svg {
            height: 21px;
            width: 19px;
            color: #e5c902;
            margin: 0 5px 5px 0;
          }
        }

        .rubros-comercio {
          display: flex;
          align-items: center;
          height: 10%;
          padding: 0 8px;

          .rubros {
            color:  #ffa372;
            font-size: small;
          }
          svg {
            height: 21px;
            width: 19px;
            color: #ffa372;
            margin: 0 5px 5px 0;
          }
        }
      }
    }
  }
}